.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & > div {

        & h2 {
            font-size: 18px;

            & > span {
                font-size: 10px;
            }
        }

        & > p {
            font-size: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
        
            & img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
        }

        & h1 {
            font-size: 32px;

            @media (min-width: 600px) {
                font-size: 38px;
                width: 60%;
            }

            @media (min-width: 1020px) {
                font-size: 62px;
            }
        }

        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;

            @media (min-width: 600px) {
                justify-content: flex-start;
            }

            & p {
                font-size: 10px;
                width: 60%;
            
                @media (min-width: 600px) {
                    font-size: 14px;;
                }
            }

            & button {
                background-color: transparent;
                border-radius: 0;
                display: flex;
                padding: 30px 60px;
                margin-left: 10px;
                justify-content: center;
                align-items: center;
                gap: 5px;
                transition: .5s all;

                &:hover {
                    border: 1px solid darkgrey;
                }

                & > a {
                    font-size: 10px;
                    color: darkgray;
                }
            }
        }
    }
}